body {
  font-family: 'Sniglet', cursive;
  text-align: center;
}

h1 {
  text-align: center;
}

#grid {
  margin-left: auto;
  margin-right: auto;
}

#grid tr td{
  border:1px solid white;
  background: #999999;
  width: 20px;
  height: 20px;
  text-align: center;
}

#grid tr td.clicked {
    background: #BBBBBB;
}

#grid tr td.hidden {
    background: #999999;
}

#grid tr td.bomb {
    background: #FF0000;
}
